extends ../layout/app.pug
block content
    .container
        .ui.icon.info.message
            i(class="huge icons mr-5 mb-3")
                i(class="cog small loading icon", style="opacity:0.2")
                i(class="cog small loading icon", style="opacity:0.2")
            .content
                .header Dashboard
                p Welcom user, this is your Dashboard
        .row